In [1]:
#china2018.csv中是china几个城市2018-2020年的气温数据

import pandas as pd
df=pd.read_csv(r'.\china2018.csv',encoding='gbk')
df.head()

      City  Year  Month  Day  AvgTemperature        日期
0  Beijing  2018      1    1            26.7  2018/1/1
1  Beijing  2018      1    2            27.1  2018/1/2
2  Beijing  2018      1    3            26.1  2018/1/3
3  Beijing  2018      1    4           -99.0  2018/1/4
4  Beijing  2018      1    5            27.3  2018/1/5

#### 例1-1 各城市温度的总个数

In [6]:
df['City'].value_counts()

City
Beijing      864
Chengdu      864
Guangzhou    864
Taipei       864
Name: count, dtype: int64

#### 例1-2  统计温度的最大值、最小值、平均值

In [7]:
df['AvgTemperature'].agg(['max', 'min', 'mean'])

max     93
min    -99
mean    64
Name: AvgTemperature, dtype: float64

#### 例，统计年的最大值，月的最小值，气温平均值

In [8]:
pd.set_option('display.float_format', lambda x: '%d' % x)  #设置显示格式
df.agg({'Year':'max','Month':'min','AvgTemperature':'mean'})

Year             2020
Month               1
AvgTemperature     64
dtype: float64

#### 例2-1 统计各城市3年的平均气温，以城市为行索引

In [10]:
pd.set_option('display.float_format', lambda x: '%.1f' % x)  #设置显示格式
df.groupby('City',as_index=True).agg({'AvgTemperature':'mean'})

           AvgTemperature
City
Beijing              52.6
Chengdu              61.7
Guangzhou            71.6
Taipei               72.2

#### 例2-2 统计各城市不同月的平均气温，以城市、月为行索引

In [11]:

df.groupby(['City','Month'],as_index=True).agg({'AvgTemperature':'mean'})

                 AvgTemperature
City      Month
Beijing   1                24.8
          2                31.5
          3                47.4
          4                57.5
          5                61.9
          6                79.7
          7                82.1
          8                79.9
          9                70.7
          10               54.6
          11               34.3
          12               27.7
Chengdu   1                42.8
          2                50.1
          3                60.1
          4                66.3
          5                63.9
          6                77.8
          7                79.3
          8                82.5
          9                69.4
          10               64.4
          11               47.7
          12               47.9
Guangzhou 1                57.1
          2                62.9
          3                68.9
          4                70.9
          5                71.8
          6                83.8
          7                85.5
          8                85.2
          9                83.6
          10               77.5
          11               62.4
          12               62.9
Taipei    1                60.5
          2                64.0
          3                68.7
          4                71.3
          5                70.5
          6                84.0
          7                87.3
          8                86.5
          9                79.0
          10               76.1
          11               63.8
          12               67.0

#### 练 2-3 
    （1）统计各城市每年平均气温的最小值、最大值、平均，以City、Year为行索引
    （2）越近的日期排在越前（提醒：按行索引的降序排列）

In [13]:


df.groupby(['City','Year'],as_index=True).agg({'AvgTemperature':{'min','max','mean'}}).sort_index(axis=0,ascending=False)

               AvgTemperature
                          max mean   min
City      Year
Taipei    2020           87.3 68.6  52.2
          2019           92.2 72.7 -99.0
          2018           91.0 73.1 -99.0
Guangzhou 2020           87.3 68.0  49.0
          2019           93.3 72.2 -99.0
          2018           93.7 72.4 -99.0
Chengdu   2020           86.2 58.5  41.3
          2019           90.5 61.8 -99.0
          2018           88.0 62.6 -99.0
Beijing   2020           80.8 44.7  20.3
          2019           90.2 53.9 -99.0
          2018           90.3 54.1 -99.0

#### 练 3-1 
    （1）统计各月各城市的平均气温，以月、城市为行索引,结果存至df4
    （2）将df4的“AvgTemperature”列标签改为 “月平均气温”
    （3）构造“等级”字段，“月平均气温”在(1,40]为low，在(40,70]为mid，在(70,100]为high.

In [21]:
df4=df.groupby(['Month','City'],as_index=True).agg({'AvgTemperature':'mean'})
df4.columns={'月平均气温'}
df4['等级']=pd.cut(df4['月平均气温'],bins=[0,40,70,100],labels=['low','mid','high'])
df4

                 月平均气温    等级
Month City
1     Beijing     24.8   low
      Chengdu     42.8   mid
      Guangzhou   57.1   mid
      Taipei      60.5   mid
2     Beijing     31.5   low
      Chengdu     50.1   mid
      Guangzhou   62.9   mid
      Taipei      64.0   mid
3     Beijing     47.4   mid
      Chengdu     60.1   mid
      Guangzhou   68.9   mid
      Taipei      68.7   mid
4     Beijing     57.5   mid
      Chengdu     66.3   mid
      Guangzhou   70.9  high
      Taipei      71.3  high
5     Beijing     61.9   mid
      Chengdu     63.9   mid
      Guangzhou   71.8  high
      Taipei      70.5  high
6     Beijing     79.7  high
      Chengdu     77.8  high
      Guangzhou   83.8  high
      Taipei      84.0  high
7     Beijing     82.1  high
      Chengdu     79.3  high
      Guangzhou   85.5  high
      Taipei      87.3  high
8     Beijing     79.9  high
      Chengdu     82.5  high
      Guangzhou   85.2  high
      Taipei      86.5  high
9     Beijing     70.7  high
      Chengdu     69.4   mid
      Guangzhou   83.6  high
      Taipei      79.0  high
10    Beijing     54.6   mid
      Chengdu     64.4   mid
      Guangzhou   77.5  high
      Taipei      76.1  high
11    Beijing     34.3   low
      Chengdu     47.7   mid
      Guangzhou   62.4   mid
      Taipei      63.8   mid
12    Beijing     27.7   low
      Chengdu     47.9   mid
      Guangzhou   62.9   mid
      Taipei      67.0   mid

### 练3-2
    （1）构造“气温均分3等级”字段，“月平均气温”均分至3个区间.

In [22]:
df4['气温均分3等级']=pd.cut(df4['月平均气温'],bins=3)
df4

                 月平均气温    等级           气温均分3等级
Month City
1     Beijing     24.8   low  (24.728, 45.638]
      Chengdu     42.8   mid  (24.728, 45.638]
      Guangzhou   57.1   mid  (45.638, 66.485]
      Taipei      60.5   mid  (45.638, 66.485]
2     Beijing     31.5   low  (24.728, 45.638]
      Chengdu     50.1   mid  (45.638, 66.485]
      Guangzhou   62.9   mid  (45.638, 66.485]
      Taipei      64.0   mid  (45.638, 66.485]
3     Beijing     47.4   mid  (45.638, 66.485]
      Chengdu     60.1   mid  (45.638, 66.485]
      Guangzhou   68.9   mid  (66.485, 87.332]
      Taipei      68.7   mid  (66.485, 87.332]
4     Beijing     57.5   mid  (45.638, 66.485]
      Chengdu     66.3   mid  (45.638, 66.485]
      Guangzhou   70.9  high  (66.485, 87.332]
      Taipei      71.3  high  (66.485, 87.332]
5     Beijing     61.9   mid  (45.638, 66.485]
      Chengdu     63.9   mid  (45.638, 66.485]
      Guangzhou   71.8  high  (66.485, 87.332]
      Taipei      70.5  high  (66.485, 87.332]
6     Beijing     79.7  high  (66.485, 87.332]
      Chengdu     77.8  high  (66.485, 87.332]
      Guangzhou   83.8  high  (66.485, 87.332]
      Taipei      84.0  high  (66.485, 87.332]
7     Beijing     82.1  high  (66.485, 87.332]
      Chengdu     79.3  high  (66.485, 87.332]
      Guangzhou   85.5  high  (66.485, 87.332]
      Taipei      87.3  high  (66.485, 87.332]
8     Beijing     79.9  high  (66.485, 87.332]
      Chengdu     82.5  high  (66.485, 87.332]
      Guangzhou   85.2  high  (66.485, 87.332]
      Taipei      86.5  high  (66.485, 87.332]
9     Beijing     70.7  high  (66.485, 87.332]
      Chengdu     69.4   mid  (66.485, 87.332]
      Guangzhou   83.6  high  (66.485, 87.332]
      Taipei      79.0  high  (66.485, 87.332]
10    Beijing     54.6   mid  (45.638, 66.485]
      Chengdu     64.4   mid  (45.638, 66.485]
      Guangzhou   77.5  high  (66.485, 87.332]
      Taipei      76.1  high  (66.485, 87.332]
11    Beijing     34.3   low  (24.728, 45.638]
      Chengdu     47.7   mid  (45.638, 66.485]
      Guangzhou   62.4   mid  (45.638, 66.485]
      Taipei      63.8   mid  (45.638, 66.485]
12    Beijing     27.7   low  (24.728, 45.638]
      Chengdu     47.9   mid  (45.638, 66.485]
      Guangzhou   62.9   mid  (45.638, 66.485]
      Taipei      67.0   mid  (66.485, 87.332]

#### 练习3-3  
    （1）将“日期”字段分区：按3周的时间周期，重新生成新的时间序列重采样对象.
    （2）统计各时间段内“AvgTemperature”的平均值

In [23]:
df5=df.copy()
df5['日期']=pd.to_datetime(df5['日期'])
df6=df5.resample('3W',on='日期').agg({'AvgTemperature':'mean'})
df6

            AvgTemperature
日期
2018-01-07            28.9
2018-01-28            47.5
2018-02-18            46.2
2018-03-11            56.4
2018-04-01            64.5
2018-04-22            68.0
2018-05-13            73.6
2018-06-03            80.4
2018-06-24            80.7
2018-07-15            83.0
2018-08-05            85.2
2018-08-26            83.7
2018-09-16            79.5
2018-10-07            68.9
2018-10-28            65.9
2018-11-18            39.6
2018-12-09            55.5
2018-12-30            49.3
2019-01-20            48.6
2019-02-10            44.8
2019-03-03            53.5
2019-03-24            59.5
2019-04-14            66.4
2019-05-05            63.4
2019-05-26            41.4
2019-06-16            79.1
2019-07-07            82.8
2019-07-28            83.7
2019-08-18            84.0
2019-09-08            81.5
2019-09-29            76.5
2019-10-20            72.0
2019-11-10            65.2
2019-12-01            57.8
2019-12-22            52.7
2020-01-12            52.6
2020-02-02            49.6
2020-02-23            52.4
2020-03-15            59.0
2020-04-05            63.2
2020-04-26            65.6
2020-05-17            77.0